@font-face {
  font-family: "Comfortaa";
  src: url("/Manoline-git.github.io/fonts/Comfortaa-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  color: #495057;
  text-align: justify;
}

b,
strong {
  font-family: "Comfortaa";
  font-weight: normal;
  color: #212529; /* Set the color for bold text */
}

em,
i {
  font-style: italic;
  color: #000000; /* Set the color for italic text */
}

.sketch-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px; /* Set the width for the sketch */
  height: 100%; /* Take full height of the content */
  z-index: 1; /* Sketch behind the content */
}

/* Default styles for larger screens */
.image-container {
  display: flex;
  align-items: center; /* Center the image vertically */
}

.image-container img {
  margin-right: 20px; /* Set the right margin */
  width: 260px;
  height: auto;
}

.text-content {
  color: #495057; /* Set the text color to #6C757D */
  font-size: 17px;
}

/* Media query for smaller screens (max-width: 767px) */
@media (max-width: 767px) {
  .image-container {
    flex-direction: column; /* Stack items vertically for smaller screens */
    text-align: center; /* Center text in the vertical direction */
  }

  .image-container img {
    margin-bottom: 10px; /* Add space between image and text */
  }

  .text-content {
    color: #495057;
    /* Set the text color to #6C757D */
  }
  body {
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    color: #495057;
    text-align: justify;
  }
}

/* Headings */

h1 {
  color: #343a40;
  /* Change color for h2 */
}

h2 {
  color: #343a40;
  /* Change color for h2 */
}

h3 {
  color: #343a40;
  /* Change color for h3 */
}

.effect-one > a {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
    background-color: #8d0801;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.effect-seven > a {
	padding: 0 5px;
	box-shadow: inset 0 0 0 0 #001524;
	transition: all 0.5s ease-in-out 0s;
	&:hover{
		box-shadow: inset 0 -300px 0 0 #001524;
		color: #EDF2F4;
	}
}



#chartdiv {
  width: 100%;
  height: 500px;
}

#sentence-wrapper {
  width: 100%;
  position: relative;
  margin: 0px auto 0 auto;
  font-family: comfortaa;
  padding: 10px;
}
.sentence {
  margin: 0;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
.sentence span {
  color: #444;
  font-size: 200%;
  font-weight: normal;
}
.words {
  display: inline;
  text-indent: 10px;
}
.words-1 span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #9b2226;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  -moz-animation: rotateWord 18s linear infinite 0s;
  -o-animation: rotateWord 18s linear infinite 0s;
  -ms-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 18s linear infinite 0s;
}
.words-1 span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  color: #495982;
}
.words-1 span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: #9b2226;
}
.words-1 span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -o-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
  color: #495982;
}
.words-1 span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
  color: #9b2226;
}
.words-1 span:nth-child(6) {
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  -o-animation-delay: 15s;
  -ms-animation-delay: 15s;
  animation-delay: 15s;
  color: #495982;
}
@-webkit-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -moz-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -moz-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -o-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -o-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -o-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -o-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -ms-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -ms-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.trigger {
  font-family: "Comfortaa";
  text-align: center; /* Align the content to the center */
}

.trigger * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.trigger li {
  display: inline;
  list-style: outside none none;
  margin: 0 0.7em; /* Remove default margin */
  padding: 0;
}

.trigger a {
  display: inline-block;
  padding: 0.2em 17px;
  color: #6c757d;
  position: relative;
  letter-spacing: 2px;
  text-decoration: none;
}

.trigger a:before {
  left: 20%;
  right: 20%;
  top: 50%;
  content: "";
  border-left: 12px solid #9b59b6;
  border-right: 12px solid #9b59b6;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.trigger a:hover,
.trigger .current a {
  color: #212529;
}

.trigger a:hover:before,
.trigger .current a:before {
  left: 0;
  right: 0;
  opacity: 1;
}

.site-title * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.site-title li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 0em;
  padding: 0;
}

.site-title a {
  display: inline-block;
  padding: 0.2em 17px;
  color: #6c757d;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.site-title a:before {
  left: 20%;
  right: 20%;
  top: 50%;
  content: "";
  border-left: 12px solid #9b59b6;
  border-right: 12px solid #9b59b6;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.site-title a:hover,
.site-title .current a {
  color: #212529;
}
.site-title a:hover:before,
.site-title .current a:before {
  left: 0;
  right: 0;
  opacity: 1;
}

/* -------------  */



.text {
  font-size: 100px;
  letter-spacing: -.01em;
  /* line-height: 100%; */
  margin: 0;
  width: auto;
  color: rgb(0, 8, 20, 0.7);
  background: linear-gradient(to right, #001219, #000814) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
  border-bottom: 1px solid #2F2B28;
  border-width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  transition: color 0.3s ease;
}

span {
  position: absolute;
  width: auto;
  /* height: 100%; */
  background-color: #4246ce;
  color: #001219;
  clip-path: polygon(0 50%, 100vw 50%, 100vw 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(.1,.5,.5,1) 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text:hover > span {
  color: #fdfdfd;
  width: auto;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
}

.text:hover {
  color: rgb(0,0,0,0)
}

a {
  text-decoration: none;
}
