<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper" style = "z-index: 2;">
          {{ content }}
      </div>
    
    </main>
    
    <!-- <script src="/Manoline-git.github.io/assets/js/p5.js"></script> -->
    <!-- <script defer src="/Manoline-git.github.io/p5/Game of Life.js"></script> -->

    <!-- <script defer src="/Manoline-git.github.io/p5/particle.js"></script>
    <script defer src="/Manoline-git.github.io/p5/perlin noise.js"></script> -->

    
    {%- include footer.html -%}
    
  </body>

</html>
