---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} {{ content }} {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading" style="font-size: 24px !important">
    {{ page.list_title | default: "Recent News" }}
  </h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li style="margin-bottom: 1px !important">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
      -%}
      <!-- This adds a date to each post -->
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <!-- This adds a post name -->
      <h4>
        <div class="effect-one">
          <a
            class="post-link"
            href="{{ post.url | relative_url }}"
            style="font-size: 18px !important"
          >
            {{ post.title | escape }}
          </a>
        </div>
      </h4>
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>
